@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  body {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    background-color: #f8fafc;
    color: #0f172a;
    -webkit-font-smoothing: antialiased;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}
